.mars-background {
  background: url("/src/img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: auto;

  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.mars-background h1 {
  color: #3c3378;
  text-align: center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 40px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  font-family: "Courier New", Courier, monospace;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mars-button{
  background: url("/src/img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: auto;
  /* display: flex; */
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.mars-title {
  background: url("/src/img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mars-title h2 {
  color: #3c3378; /* Color del texto */

  font-size: 50px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-align: center; /* Alineación de texto */
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10%;

  /* Otros estilos CSS según tus preferencias */
}

.mars-title p {
  color: #3c3378; /* Color del texto */
  font-size: 25px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-align: center; /* Alineación de texto */
  position: absolute;
  margin-top: 40%;
  font-family: "Courier New", Courier, monospace;

  /* Otros estilos CSS según tus preferencias */
}

.mars-title h1 {
  font-size: 3rem;
  margin-top: 50px;
  font-weight: bold; /* Negrita */
  color: #3c3378;
  padding: auto;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1%;
  text-decoration: overline;
}

.name-list {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
h1 {
  padding: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
}

.planet {
  background: url("/src/img/earth.png") no-repeat center center fixed;
  width: 200px;
  height: 200px;
  /* background-color: orange; */
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  /* margin-top: 5%; */
  margin-bottom: 30%;
  animation: rotate 90s linear infinite;
  /* Aplica la animación llamada 'rotate' */
}

.planet-inner {
  background: url("/src/img/astronauta.png") no-repeat center center fixed;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 200px;
  height: 200px;
  animation: rotate 100s alternate infinite;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Inicia la rotación desde 0 grados */
  }
  to {
    transform: rotate(360deg); /* Gira 360 grados en sentido horario */
  }
}

/* CountdownTimer.css */
.countdown {
  /* background-color: #f4f8fb;
  background: url("/src/gophoraback.jpg") no-repeat center center fixed;*/
  background: transparent;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.countdown-item {
  text-align: center;
}

.countdown-number {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

.countdown-label {
  font-size: 0.9rem;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 1023px) {
  /* Agrega estilos específicos para pantallas medianas */
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .main-content {
    flex-direction: column;
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 767px) {
  /* Agrega estilos específicos para pantallas pequeñas */
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .main-content {
    flex-direction: column;
  }
  .menu {
    display: none;
  }

  .mars-background h1 {
    padding-top: 20%;
    padding-bottom: 10%;
  }

  .mars-title h1 {
    width: auto;
    font-size: 1.5rem;
    size: 0cap;
    margin-top: 40%;
  }
  .mars-title h2 {
    width: auto;
    font-size: 1.2rem;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 20%;
  }
  .mars-title button {
    width: auto;
    font-size: 0.7rem;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 35%;
  }

  .mars-title p {
    width: auto;
    font-size: 0.7rem;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 30%;
  }
  .countdown h1 {
    width: auto;
    font-size: 0rem;
    size: 0cap;
  }

  .planet {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 70%;
  }
  .flotar {
    position: absolute;
    margin-top: 10%;
    margin-bottom: 50%;
  }
}

/* styles.css */
.contenedor-tarjetas {
  display:block/* App.css */
  .name-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 60px;
    margin: 0 auto;
  }

  .column-list {
    list-style: circle;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .column-list li {
    background-color: #0077b6;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta {
  width: auto;
  border-radius: 25px;
  padding: "10px";
  margin: "4px";
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 10px 10px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.tarjeta h2 {
  font-size: 1.5rem;
  color: #333;
}

.tarjeta p {
  font-size: 1rem;
  color: #666;
}

.flotar {
  background: url("/src/img/mars2.png") no-repeat center center fixed;
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  background-size: cover;
  position: absolute;
  border-radius: 50%;
  margin-bottom: 20%;
  line-height: 100px;
  /* animation: flotar 5s ease-in-out infinite; */
  /* animation: rotate 25s linear infinite;  Aplica la animación llamada 'rotate' */
}

@keyframes flotar {
  0% {
    transform: translateY(-60px);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(-60px);
  }
}
